name: Build and Deploy to Azure Web App

env:
  AZURE_WEBAPP_NAME: coredep
  AZURE_WEBAPP_PACKAGE_PATH: '.'
  DOTNET_VERSION: '10'

on:
  push:
    branches:
    - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Code
      uses: actions/checkout@v5

    - name: Download .Net Core SDK
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: DotNet build
      run: dotnet build src/CoreDep/CoreDep.csproj -r linux-x64 --configuration Release --self-contained -p:PublishReadyToRun=true

    - name: DotNet Publish
      run: dotnet publish src/CoreDep/CoreDep.csproj -r linux-x64 --configuration Release --output ${{env.DOTNET_ROOT}}/myapp --no-build --self-contained -p:PublishReadyToRun=true

    - name: Upload Release
      uses: actions/upload-artifact@v5
      with:
        path: ${{env.DOTNET_ROOT}}/myapp
        name: coredep

  deploy:
    permissions:
      contents: none
    runs-on: ubuntu-24.04
    needs: build
    environment:
      name: 'Development'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v5
        with:
          name: coredep

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          clean: true
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
